.cabecalho {
  background-color: #383D58;
  color: white;
  display:flex;
  justify-content: space-around;
}
.cabecalho-imagem{
 width: 20%;
}
.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
}
       
*{ 
margin: 0 16px;
justify-content: space-around;
padding: 24px 0;

}
.escola-imagem{
  width:25%;
  }
  .escola {
    background-image: linear-gradient(#383D58,#00c0eb);
    color: white;
    display:flex;
  }
 .escola-conteudo
 {   width: 35%; 
}



