.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
    }
.cabecalho-imagem{
    width: 20%;
    
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    

}

